* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border:0;
  outline:0;
  list-style-type: none;
}

body{
    background-color: #FAFAFA;
    // background-color: #ddd;
}
#header{
    width: 100%;
    background-color: #fff;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    position: fixed;
    box-shadow: 0 0 1px 1px #ddd;
    #header-container{
        max-width: 935px;
        width: 100%;
        display: flex;
        align-items: center;
        height: 53px;
        justify-content: space-between;
        #logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        nav ul{
            gap: 22px;
            display: flex;
        }
        .search-box{
            width: 215px;
            height: 36px;
            background-color: #EFEFEF;
            border-radius: 10px;
            padding-left: 10px;
            
        }
    }
}



.button-color{
    color :#0095F6;
    background-color: transparent;
}


.see-all{
    background-color: transparent;
}
.my-name{
    color: #8E8E8E;
}
.name-info{
    color: #262626;
}

.for-u,.other-name{
    color: #8E8E8E;
}
#container{
    position: absolute;
    max-width: 800px;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    // background-color: red;
    display: flex;
    gap: 28px;
    .storyes{
        width: 470px;
        background-color: #fff;
        height: 120px;
        border-radius: 10px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 0 23px;
        gap: 10px;
        .story-border{
            background: linear-gradient(#DE0046, #F7A34B);
            width: 68px;
            height: 68px;
            border-radius: 68px;
            .story-avatar{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border: 2.8px solid #fff;
                    border-radius: 68px;
                }
            }
            .story-name{
                text-align: center;
                font-size: 12px;
                margin-top: 5px;
            }

        }
    }

    #main{
        background-color: #fff;
        width: 470px;
        border-radius: 10px;
        margin-top: 15px;
        border: 1px solid #ccc;
        header{
            height: 60px;
            // border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            padding: 0 20px;
            gap: 10px;
            justify-content: space-between;
            .bio{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .avatar-border{
                width: 45px;
                height: 45px;
                border-radius: 45px;
                background: linear-gradient(#DE0046, #F7A34B);
                .avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 45px;
                    img{
                        border: 2.8px solid #fff;
                        border-radius: 45px;
                    }
                }
            }
        }
        #post-photo{
            img{
                width: 100%;
            }
        }
        .footer-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            nav{
                display: flex;
            }
        }
        .detaiels{
            padding: 0 20px;
            text-align: left;
            .likes{
                margin-bottom: 8px;
            }
            .info{
                margin-bottom: 8px;
                .name{
                    font-weight: 600;
                }
                .des{
                    font-weight: 100;
                }
            }
            .show-comments{
                font-size: 14px;
                color: #8E8E8E;
            }
            .info-date{
                font-size: 10px;
                color: #8E8E8E;

            }
        }
        .add-comments-footer{
            display: flex;
            align-items: center;
            padding: 0 18px;
            border-top: 1px solid grey;
            margin-top: 10px;
            justify-content: space-between;
            .comments-text{
                width: 100%;
                padding: 10px 10px;
            }
            .submit{
                color: #0095F6;
                background-color: transparent;
            }
        }
    }

   
}

#right-bar{
    // background-color: red;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    position: fixed;
    right: 245px;
    top: 80px;
    .profile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .center{
            display: flex;
            align-items: center;
        }
    }
    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .users-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .users-info-center{
            display: flex;
            align-items: center;
        }
    }
    .right-bar-footer{
        color:#C7C7C7;
        p{
            margin-bottom: 6px;
            font-size: 13px;
        }
        div{
            font-size: 15px;
        }
    }
}